{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
左乙己的个人博客
{% endblock title %}

{% block content %}
{% include 'detailright.html'%}

<div class="left">

  <div class="mdui-card page-card">
    <div class="mdui-card-media">
      <div class="article-pic" data-original="{{ article.imgurl }}" );>
      </div>
      <div class="mdui-card-media-covered">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title">{{ article.title }}</div>
          <div class="mdui-card-primary-subtitle article-subtitle">
            <span>
              <i class="fas fa-clock" style="color: pink;"></i>
              {{ article.created|date:'Y-m-d' }}
            </span>
            <span>
              <i class="fas fa-eye" style="color: lightskyblue;"></i>
              {{ article.total_views }}
            </span>
            <span>
              {% if article.tags.all%}
              <i class="fas fa-tags" style="color: #85BAA1;"></i>
              {% for tag in article.tags.all %}
              <a href="{% url 'article:article_list' %}?tag={{ tag }}" style="text-decoration:none;color: #e7e7e7;">
                {{ tag }}
              </a>
              {% endfor %}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="article-page mdui-typo">
      <p>{{ article.body|safe }}</p>
    </div>
  </div>

  <div id="respond-post-18" class="mdui-card page-card comment-id">
    <div class="mdui-card-content">
      <div class="comment-cancel">
        <a id="cancel-comment-reply-link" href="https://dwd.moe/p/typecho-ias.html#respond-post-18" rel="nofollow"
          style="display:none" onclick="return TypechoComment.cancelReply();"><button class="mdui-btn mdui-btn-icon"><i
              class="mdui-icon material-icons">cancel</i></button></a> </div>
      <h3>发表评论</h3>
      {% if user.is_authenticated %}
      <form method="post" action="{% url 'comment:post_comment' article.id %}" id="comment-form" role="form">
        {% csrf_token %}
        <textarea placeholder="大佬呐！看这里！这里留言鸭！" id="comment-textarea" name="body" class="comment-textarea" rows="8"
          cols="50" tabindex="4"></textarea>
        <center>
          <button type="submit" id="submit"
            class="mdui-btn mdui-btn-block mdui-text-color-theme mdui-ripple submit">发表评论</button>
        </center>
      </form>
      {% else %}
      <center>
        <h2><small>请</small><a href="{% url 'userprofile:login' %}">登录</a><small>后发表评论</small></h2>
      </center>
      {% endif %}
    </div>
  </div>

  <div id="comment-list" class="mdui-card page-card">
    <div class="mdui-card-content">
      <div class="comment-count">
        <h3>全部评论 (共 {{ comments.count }} 条评论)</h3>
      </div>
      {% for comment in comments %}
      <div class="comment-container">
        <div id="comment-258" class="comments-list comment-parent comment-odd">

          <div class="mdui-card-primary-subtitle article-subtitle">{{ comment.user }}</div>
          <div class="mdui-card-primary-subtitle article-subtitle">{{ comment.created|date:"Y-m-d H:i:s" }}</div>
          <p>
            {{ comment.body }}
          </p>
        </div>
      </div>
      {% endfor %}

      <div class="comment-line"></div>
    </div>
  </div>


</div>

{% endblock content %}