{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
左乙己的个人博客
{% endblock title %}

{% block content %}
{% include 'indexright.html'%}
<div class="left">
    {% for article in articles %}
    <div class="mdui-card page-card mdui-shadow-10 page">
        <div class="mdui-card-media">
            <div class="page-img" data-original="{{ article.imgurl }}"></div>
        </div>
        <div class="mdui-card-primary page-primary">
            <div class="mdui-card-primary-title"><a
                    href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a>
            </div>
            <div class="mdui-card-primary-subtitle">
                <span>
                    <i class="fas fa-clock" style="color: pink;"></i>
                    {{ article.created|date:'Y-m-d' }}
                </span>
                <span>
                    <i class="fas fa-eye" style="color: lightskyblue;"></i>
                    {{ article.total_views }}
                </span>
                <span>
                    {% if article.tags.all%}
                    <i class="fas fa-tags" style="color: #85BAA1;"></i>
                    {% for tag in article.tags.all %}
                    <a href="{% url 'article:article_list' %}?tag={{ tag }}" style="text-decoration:none;color: #000000;">
                        {{ tag }}
                    </a>
                    {% endfor %}
                    {% endif %}
                </span>

            </div>
        </div>
        <div class="mdui-card-content page-content">{{ article.details }}
        </div>
        <br><br>
    </div>
    {% endfor %}


    <div class="ias-noneleft" style="text-align: center;" id="ias_noneleft_1584252882044">
        {% if articles.has_previous %}
        <a href="?page=1" style="text-decoration:none;color: #000000;">1</a>
        <span>...</span>
        {% endif %}

        {{ articles.number }}

        {% if articles.has_next %}
        <span>...</span>
        <a
            href="?page={{ articles.next_page_number }}" style="text-decoration:none;color: #000000;">{{ articles.next_page_number }}</a>
            {% if articles.next_page_number != articles.paginator.num_pages %}
                <a
                    href="?page={{ articles.paginator.num_pages }}" style="text-decoration:none;color: #000000;">{{ articles.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    </div>


</div>
{% endblock content %}